a:hover{
  text-decoration: underline;
}
input:focus{
  background-color: blue;
}
input:enabled{
  color: yellow;
}
input:disabled{
  background-color: yellow;
}
input:checked{
  border: none;
  outline: 2px solid deeppink;
}
/* first child p in each container */
p:first-child{
  color: red;
}
p:last-child{
  color: blue;
}
/* when p is the only child */
p:only-child{
  color: goldenrod;
}
/* when p is the first of its type */
h1:first-of-type{
  color:green;
}
h1:last-of-type{
  text-decoration: underline;
}
h1:only-of-type{
  text-decoration: overline;
}
/* select every other row */
tr:nth-child(2n){
color: red;
}
/* same as last, but counting backwards */
tr:nth-last-child(2n){
  background-color: green;
}
/* but only counting a certain type */
tr:nth-of-type(2n)
{
  background-color: blue;
}
/* when empty */
div:empty{
  display: none;
}
/* h4 without green class */
h4:not(.green) {
  color:yellow;
}
.green {
  color: green;
}
/* for everything not p in body*/
body :not(p){
  color: blue;
}
/* every first letter of p */
p:first-letter{
  font-size: 200%;
}
/* every first line of a div */
div:first-line{
  font-size: 200%;
}
/* add something after every link */
a:after{
  content: " -> This is a link";
}
/* add the href before each link */
a:before{
  content: " ("attr(href)") ";
}