/* shadow two pixels to the right and two pixels down and color green, text white */
h2{
  text-shadow: 2px 2px green;
  color: white;
}
/* with a four pixel blur */
h3{
  text-shadow: 2px 2px 4px;
}
/* use no offset for a glow effect */
h1{
  text-shadow: 0 0 5px red;
}
/* multiple shadows */
h4{
  text-shadow: 2px 2px green, -5px -5px 4px red;
}
#shadow{
  background-color: antiquewhite;
  width: 200px;
  height: 200px;
  /* the 4px is blur, next is the colour */
  box-shadow: 3px 3px 4px gray;
}
#shadow2{
  background-color: antiquewhite;
  width: 200px;
  height: 200px;
  box-shadow: 12px 12px 6px;
}