.navigation-bar{
  width: 100%;
  height: 50px;
  background-color: #8FB68A;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.navigation-item{
  margin: 10px;
}
a{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
  font-size: 18px;
}
a:hover{
  color:#3BBFFF;
}
body{
  background-color: #03092D;
}
.img-profile{
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.img-about-me{
  width: 45%;
}
h1{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding: 20px;
}
h2{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  color: white;
}
#hello-message{
  color: white;
}

#about-me-title{
  color: black;
}

.about-me-container{
  padding: 10px;
  text-align: center;
  margin: auto;
  background-color: antiquewhite;
  width: 95%;
  box-shadow: -7px -7px red, 7px 7px green;
}
.about-me-content{
  display: flex;
}
#about-me-img{
  flex: 0 0 40%;
}
#about-me-text{
  flex: 1;
  padding: 15px;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
}
.img-projects{
  width: 500px;
  border-radius: 10px;
}
.projects-container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.projects-item{
  margin: 20px;
  position: relative;
}
.projects-hover-item{
  background-color: green;
  position: absolute;
  width: 100%;
  bottom: 0px;
}
.projects-hover-item:hover{
  transition: 1s ease-in-out;
  transform: translate(0px, -120px);
}