body {
  background-color: powderblue;
}
/* using some css properties */
h1 {
  color: blue;
  font-family: verdana;
  border: 2px solid rgb(255, 0, 0);
  padding: 30px;
  margin: 50px;
}
/* selector for all p elements */
p {
  color: red;
  font-family: courier;
}
/* class selector uses a dot */
.yellow {
  color:yellow;
}
.large{
  font-size: 200%;
}
/* for IDs, user # */
#green{
  color:green;
}
#blue{
  color:blue;
  text-decoration: underline;
}