p {
  color: yellow;
}
/* relative positioning */
/* positioned according to the normal flow of the document */
#first-section {
  background-color: red;
  width: 200px;
  position: relative;
  left: 120px; /* move left or right */
  top: 50px; /* move up or down */
  z-index: 1; /* move front or back */
  /* the higher number goes on the front */
  /* z-index only works for positioned elements (absolute, relative, fixed or sticky) and flex elements */
}
#second-section {
  background-color: #17A589;
  width: 200px;
  position: relative;
  left: -50px;
  top: -10px;
  z-index: 0;
  /* if the same z-index value, the last html element will be displayed on top */
}
#third-section {
  background-color:blue;
  width: 200px;
  position: relative;
  left: 250px;
  top: -70px;
  z-index: 1;
  opacity: 0.5;
}
/* absolute positioning */
/* takes the elements out of the flow of the page */
#fourth-section {
  background-color:purple;
  width: 200px;
  position: absolute;
  left: 10px;
}
#fifth-section {
  background-color:black;
  width: 200px;
  position: absolute;
  left: 150px;
  opacity: 0.7;
}
/* fixed positioning */
/* takes the elements out of the flow of the page but the element stays on screen, in the same place, when scrolling */
#sixth-section {
  background-color:brown;
  width: 200px;
  position: fixed;
  top: 500px;
}
#seventh-section {
  background-color:gray;
  width: 200px;
  position: absolute;
  left: 600px;
  height: 2000px; /* to check fixed positioning element */
}
/* sticky positioning */
/* similar to fixed positioning but the element stays in the normal flow of the page and only remains until last element in the normal flow */
#eighth-section {
  background-color:yellowgreen;
  width: 200px;
  position: sticky;
  top: 20px;
  left: 900px;
}
/* static positioning */
/* normal positioning, but may be useful to override previous positioning */
/* top, right, bottom, left, z-index have no effect */
#ninth-section {
  background-color:burlywood;
  width: 200px;
  position: static;
}

/* for more: developer.mozilla.org/en-US/docs/Web/CSS/position */